/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
}
/* ------- end of CSS Reset ------------------------------------------------------------------- */
/* ------- end of CSS Reset ------------------------------------------------------------------- */
/* ------- end of CSS Reset ------------------------------------------------------------------- */

.bgContainer {
  margin: auto;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#selectTempType,
#locationInput,
.searchResultItem button,
.tempDetailContainer {
  font-size: max(1em, 16px);
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  transition: 1s;
}
.configurationBoxes {
  display: flex;
  flex-direction: row;
  min-width: 300px;
  justify-content: space-evenly;
  margin-top: 10vh;
  padding-bottom: 5px;
}

.selectTempType {
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.4s;
}

.selectTempType:hover {
  background-color: rgb(220, 208, 50);
  color: black;
}

.searchResultsForms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  border-radius: 1px;
  background-color: white;
  opacity: 0.6;
  margin-top: 1vh;
  transition: 0.5s;
}
.searchResultItem button {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: left;
  border: 0;
  cursor: pointer;
}

.searchResultItem button:hover {
  text-decoration: underline;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 1s;
}

.mainContainerAfterSearch {
  position: relative;
}

.weatherDetailsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  min-width: 300px;
  padding: 1vh;
}

.displayedLocation {
  font-size: 1.4rem;
  color: white;
}

.weatherDescription {
  font-size: 1rem;
  color: white;
}

.displayedCurrentTemp {
  font-size: 5rem;
  color: white;
  text-decoration: underline;
}
.tempDetailContainer {
  display: flex;
  gap: 1vw;
  margin-top: 1vh;
}

.tempDetailItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  padding: 1vh;
}

/* largest supported desktop/laptop screen size */
@media only screen and (min-width: 1921px) {
  body {
    background-color: antiquewhite;
  }
  .bgContainer {
    width: 1920px;
    border-right: 1px solid white;
    border-left: 1px solid white;
  }
  .bgThunder {
    background-image: url("./z_img/200thunder_large.jpg");
  }
  .bgVisbility {
    background-image: url("./z_img/700visibility_large.jpg");
  }
  .bgSunny {
    background-image: url("./z_img/800sunny_large.jpg");
  }
  .bgCloudSome {
    background-image: url("./z_img/801802cloud_large.jpg");
  }
  .bgCloudDense {
    background-image: url("./z_img/803804cloud_large.jpg");
  }
}

/*  HD screens */
@media only screen and (max-width: 1920px) {
  .bgThunder {
    background-image: url("./z_img/200thunder_1080.jpg");
  }
  .bgCloudDense {
    background-image: url("./z_img/803804cloud_1920.jpg");
  }
  .bgVisbility {
    background-image: url("./z_img/700visibility_1920.jpg");
  }
  .bgSunny {
    background-image: url("./z_img/800sunny_1920.jpg");
  }
  .bgCloudSome {
    background-image: url("./z_img/801802cloud_1920.jpg");
  }
  .bgCloudDense {
    background-image: url("./z_img/803804cloud_1920.jpg");
  }
}

/* some Ipads + tablets + smaller screens */
@media only screen and (max-width: 1080px) {
  .bgThunder {
    background-image: url("./z_img/200thunder_1080.jpg");
  }
  .bgCloudDense {
    background-image: url("./z_img/803804cloud_1080.jpg");
  }
  .bgVisbility {
    background-image: url("./z_img/700visibility_1080.jpg");
  }
  .bgSunny {
    background-image: url("./z_img/800sunny_1080.jpg");
  }
  .bgCloudSome {
    background-image: url("./z_img/801802cloud_1080.jpg");
  }
  .bgCloudDense {
    background-image: url("./z_img/803804cloud_1080.jpg");
  }
}

@media only screen and (max-width: 600px) {
  .bgThunder {
    background-image: url("./z_img/200thunder_600.jpg");
  }
  .bgCloudDense {
    background-image: url("./z_img/803804cloud_600.jpg");
  }
  .bgVisbility {
    background-image: url("./z_img/700visibility_600.jpg");
  }
  .bgSunny {
    background-image: url("./z_img/800sunny_600.jpg");
  }
  .bgCloudSome {
    background-image: url("./z_img/801802cloud_600.jpg");
  }
  .bgCloudDense {
    background-image: url("./z_img/803804cloud_600.jpg");
  }
}

@media only screen and (max-width: 350px) {
  .bgThunder {
    background-image: url("./z_img/200thunder_350.jpg");
  }
  .bgCloudDense {
    background-image: url("./z_img/803804cloud_350.jpg");
  }
  .bgVisbility {
    background-image: url("./z_img/700visibility_350.jpg");
  }
  .bgSunny {
    background-image: url("./z_img/800sunny_350.jpg");
  }
  .bgCloudSome {
    background-image: url("./z_img/801802cloud_350.jpg");
  }
  .bgCloudDense {
    background-image: url("./z_img/803804cloud_350.jpg");
  }
}
